<hr>

<h1 id="types_objects" align="center">Python Objects</h1>

Python is an object-oriented language. We now explore different types of objects, including: <i>strings</i>, <i>integers</i> and <i>floats</i>. Anytime you write words (text) in Python, you're using <i>character strings</i> (or <i>strings</i> for short). The most common numbers, on the other hand, are <i>integers</i> (e.g. -1, 0, 100) and <i>floats</i>, which represent real numbers (e.g. 3.14, -42.0).

<a align="center">
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/TypesObjects.png" width="600">
</a>

<p>The following code cells contain some examples.</p>

In [ ]:
# Integer
11

In [ ]:
# Float
2.14

In [ ]:
# String
"Hello, Python 101!"

Sometimes we need to query the type of an expression at run-time. We use the built-in <code>type()</code> function . You'll notice that Python refers to integers as <code>int</code>, floats as <code>float</code>, and character strings as <code>str</code>.

In [1]:
# Type of 12
type(12)

int

In [2]:
# Type of 2.14
type(2.14)

float

In [3]:
# Type of "Hello, Python 101!"
type("Hello, Python 101!")

str

<h2 id="int">Integers</h2>

<p>Here are some examples of integers. Integers can be negative or positive numbers:</p>

<a align="center">
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/TypesInt.png" width="600">
</a>

<p>Let's verify that all these are integers, through the <code>type()</code> function:

In [1]:
# Print the type of -1
type(-1)

int

In [ ]:
# Print the type of 4
type(4)

In [5]:
# Print the type of 0
type(0)

int

<h2 id="float">Floats</h2>

<p>Floats represent real numbers; they are a superset of integer numbers but also include "numbers with decimals". There are some limitations when it comes to machines representing real numbers, but floating point numbers are a good representation in most cases. 
<p>Once again, let's see some examples, using the <code>type()</code> function:

In [7]:
# Print the type of 1.0
type(1.0) # Notice that 1 is an int, and 1.0 is a float

int

In [ ]:
# Print the type of 0.5
type(0.5)

In [ ]:
# Print the type of 0.56
type(0.56)

<h2 id="convert">Converting one object type into a different object type</h2>

Sometime we need to convert the object type - this is referred to as <i>typecasting</i>. For instance, to save memory or speed up computation, we may want to turn a <i>float</i> into an <i>integer</i>. Or to improve precision in mathematical operations, we may want to turn an <i>integer</i> into a <i>float</i>.
Remember that computers can best work with integers - even better with 1s and 0s.

Let's try it:

<h3>Converting integers to floats and vice versa</h3>

In [2]:
# Convert the variable 'a' to a float
a = 2
float(a)

2.0

In [9]:
# Convert the variable 'b' to a float and check its type
b = 5
type(float(b))

float

<p>When we convert an integer into a float, we don't really change the value of the number. However, if we cast a float into an integer, we could potentially lose the decimal information.

In [10]:
# Casting 1.1 to integer will result in loss of information
int(1.1)

1

### Watch out your 'math'
Operations between integers produce integers (+ - and *).
However operator / produces floats.

In [11]:
c = 100
d = 2
e = c/d
print('e=', e, 'is a', type(e))

e= 50.0 is a <class 'float'>

Division doesn't know whether two integers involved divide into one another exactly or not.
<p>Flots are of course necessary in some situations:</p>

In [12]:
3/2

1.5

### We can force an integer output, using the // operator
For instance if we are only interested in the number of times 2 goes into 3, we can ignore the fractional part, saving memory and CPU:

In [3]:
res1 = 3//2
print(res1)
print(type(res1))

1
<class 'int'>

### Converting from strings to integers or floats

Sometimes, we can have a string that contains a number within it. If we want to to treat the string as a number, and do calculations on it, we need to convert the string to number. 
Let's look at a practical scenario with the <code>input()</code> function, which ALWAYS RETURNS A STRING

In [4]:
age = input('Please enter your age: ')
print('you appear to be', age, 'years old')
print('next year you will be: ')
print(age+1) #this generates an error

Please enter your age: 32
you appear to be 32 years old
next year you will be:

TypeError: can only concatenate str (not "int") to str

... we need to cast 'age' to an integer, using the <code>int()</code> function:

In [15]:
age = int(input('Please enter your age: '))
print('you appear to be', age, 'years old')
print('next year you will be: ')
print(age+1)

Please enter your age: 52
you appear to be 52 years old
next year you will be:
53

<p>But if you try to convert a string that is not a perfect match for a number, you'll get an error:</p>

In [20]:
# Convert a string into an integer with error
int('1 or people')
#int('1')

1

<p>You can also convert strings containing floating point numbers into <i>float</i> objects:</p>

In [21]:
# Convert the string "1.2" into a float
float('1.2')

1.2

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tip:] Note that strings can be represented with single quotes (<code>'1.2'</code>) or double quotes (<code>"1.2"</code>), but you can't mix both (e.g., <code>"1.2'</code>).
</div>
<hr/>

<h3>Converting numbers to strings</h3>

<p>We can also convert numbers to strings:</p>

In [22]:
# Convert an integer to a string
print(str(1),'is now type', type(str(1)))
print(str(1.2),'is now type', type(str(1.2)))

1 is now type <class 'str'>
1.2 is now type <class 'str'>

<h2 id="bool">Boolean data type <code>bool</code></h2>

<p><i>Boolean</i> is another important type in Python. An object of type <i>Boolean</i> can take on one of two values: <code>True</code> or <code>False</code>:</p>

In [23]:
# Value true
t = True
print(t, 'is of type', type(t))
f = False
print(f, 'is of type', type(f))

True is of type <class 'bool'>
False is of type <class 'bool'>

<p>Notice that the value <code>True</code> has an uppercase "T". The value <code>False</code> must use the uppercase "F".</p>

<p>We can cast boolean objects to other data types. If we cast a boolean with a value of <code>True</code> to an integer or float we will get a one. If we cast a boolean with a value of <code>False</code> to an integer or float we will get a zero. Similarly, if we cast a 1 to a Boolean, you get a <code>True</code>. And if we cast a 0 to a Boolean we will get a <code>False</code>. Let's give it a try:</p>

In [24]:
# Convert True to int
int(True)

1

In [ ]:
# Convert 1 to boolean
bool(1)

In [25]:
# Convert 0 to boolean
bool(0)

False

In [ ]:
# Convert True to float
float(True)