*This notebook has been **significantly** modified from the original notebook available online, as detailed next. This notebook contains an excerpt from the [Python Data Science Handbook](http://shop.oreilly.com/product/0636920034919.do) by Jake VanderPlas; the content is available [on GitHub](https://github.com/jakevdp/PythonDataScienceHandbook).*<br>
*The text is released under the [CC-BY-NC-ND license](https://creativecommons.org/licenses/by-nc-nd/3.0/us/legalcode), and code is released under the [MIT license](https://opensource.org/licenses/MIT).*

# Handling Missing Data

The difference between data found in many tutorials and data in the real world is that **real-world data is rarely clean and homogeneous**.

In particular, many interesting datasets will have some amount of **data missing**.

To make matters even more complicated, different data sources **may indicate missing data in different ways**.

In this section, we will discuss some general considerations for missing data, discuss how Pandas chooses to represent it, and demonstrate some built-in Pandas tools for handling missing data in Python.

> We'll refer to missing data in general as:<br>
>``none`` (null) e.g. is a missing Pandas``object`` (with no further semantics)<br>
>``NaN`` (not a number) e.g. 0/0 (used to fix the arithmetics)<br>
>``NA``  (not available) e.g. it is a placeholder for data that has been imported incorrectly (not used in Python)<br>

> Pandas is built on top of numpy, which has neither ``na`` nor ``null`` values. Instead numpy has ``NaN`` values (which stands for "Not a Number"). Consequently, pandas also uses ``NaN`` values.

### In short
To detect ``NaN`` values numpy uses ``np.isnan()``.<br>
To detect ``NaN`` values pandas uses either ``.isna()`` or ``.isnull()``.<br>
The ``NaN`` values are inherited from the fact that pandas is built on top of numpy, while the two functions' names originate from R's DataFrames, whose structure and functionality pandas tried to mimic.

## Trade-Offs in Missing Data Conventions

There are a number of schemes that have been developed to indicate the presence of missing data in a table or DataFrame. 

> **Python uses *sentinel values* to indicate that there are missing entries**

In the sentinel approach, the sentinel value could be some data-specific convention, such as indicating a missing integer value with -9999 or some rare bit pattern, or it could be a more global convention, such as indicating a missing floating-point value with **NaN** (Not a Number), a special value which is part of the IEEE floating-point specification.

## Missing Data in Pandas

The way in which Pandas handles missing values is constrained by its reliance on the **NumPy package, which does not have a built-in notion of NA** values for non-floating-point data types.

With these constraints in mind, **Pandas chose to use sentinels** for missing data, and further chose to use two already-existing Python null values: the special floating-point **``NaN``** value, and the Python **``None``** object.
This choice has some side effects, as we will see, but in practice ends up being a good compromise in most cases of interest.

### ``None``: Pythonic missing data

The first sentinel value used by Pandas is ``None``, a Python object that is often used for missing data in Python code.
Because it is a Python object, ``None`` cannot be used in any arbitrary NumPy/Pandas array, but only in arrays with data type ``'object'`` (i.e., arrays of Python objects):

In [1]:
import numpy as np
import pandas as pd

In [2]:
# using None in an array will generate a object (with overheads) >> not convenient!
vals1 = np.array([1, None, 3, 4])
vals1

array([1, None, 3, 4], dtype=object)

This ``dtype=object`` means that the best common type representation NumPy could infer for the contents of the array is that they are Python objects.

>Bear in mind that, while this kind of object array is useful for some purposes, any operations involving ``None`` incurs additional overheads and will significantly slow down array operations.

>**Check out the big difference in processing time in the example below:**

In [3]:
for dtype in ['object', 'int']:
    print("dtype =", dtype)
    %timeit np.arange(1E6, dtype=dtype).sum()
    print()

dtype = object
167 ms ± 51.3 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

dtype = int
3.06 ms ± 402 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

The use of Python objects in an array also means that if you perform aggregations like ``sum()`` or ``min()`` across an array with a ``None`` value, you will generally get an error:

In [30]:
# uncomment the following line to see the error
#vals1.sum()

This reflects the fact that addition between an integer and ``None`` is undefined.

### ``NaN``: Missing numerical data

The other missing data representation, ``NaN`` (acronym for *Not a Number*), is different; it is a special floating-point value recognized by all systems that use the standard IEEE floating-point representation:

In [5]:
vals2 = np.array([1, np.nan, 3, 4]) 
vals2.dtype

dtype('float64')

Notice that NumPy chose **a native floating-point type** for this array: this means that **unlike the object array from before, this array supports fast operations** pushed into compiled code.
You should be aware that ``NaN`` is a bit like a data virus – **it infects any other object it touches**.
Regardless of the operation, the result of arithmetic with ``NaN`` will be another ``NaN``:

In [6]:
1 + np.nan

nan

In [7]:
0 *  np.nan

nan

Note that this means that aggregates over the values are well defined (i.e., they don't result in an error) but not always useful:

In [8]:
vals2.sum(), vals2.min(), vals2.max()

(nan, nan, nan)

>**NumPy does provide some special aggregations that will ignore these missing values:**

In [9]:
np.nansum(vals2), np.nanmin(vals2), np.nanmax(vals2)

(8.0, 1.0, 4.0)

Keep in mind that ``NaN`` is specifically a **floating-point value**; there is no equivalent NaN value for integers, strings, or other types.

### NaN and None in Pandas

``NaN`` and ``None`` both have their place, and **Pandas is** built to handle the two of them nearly interchangeably, **converting between them where appropriate:**

In [10]:
pd.Series([1, np.nan, 2, None])

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

For types that don't have an available sentinel value, **Pandas automatically type-casts when NA values are present**.
For example, if we set a value in an integer array to ``np.nan``, **it will automatically be upcast to a floating-point** type to accommodate the NA:

In [11]:
# this is a series of integers
x = pd.Series(range(2), dtype=int)
x

0    0
1    1
dtype: int32

In [12]:
# because of None, the whole series if upcast to float64
x[0] = None
x

0    NaN
1    1.0
dtype: float64

Notice that in addition to casting the integer array to floating point, **Pandas automatically converts the ``None`` to a ``NaN``** value.

The following table lists the upcasting conventions in Pandas when NA values are introduced:

|Typeclass     | Conversion When Storing NAs | NA Sentinel Value      |
|--------------|-----------------------------|------------------------|
| ``floating`` | No change                   | ``np.nan``             |
| ``object``   | No change                   | ``None`` or ``np.nan`` |
| ``integer``  | Cast to ``float64``         | ``np.nan``             |
| ``boolean``  | Cast to ``object``          | ``None`` or ``np.nan`` |

Keep in mind that in Pandas, string data is always stored with an ``object`` dtype.

## Operating on Null Values

As we have seen, Pandas treats ``None`` and ``NaN`` as essentially interchangeable for indicating missing or null values.
To facilitate this convention, there are several **useful methods for detecting, removing, and replacing null values** in Pandas data structures.
They are:

- ``isnull()``: Generate a boolean mask indicating missing values
- ``notnull()``: Opposite of ``isnull()``
- ``dropna()``: Return a filtered version of the data
- ``fillna()``: Return a copy of the data with missing values filled or imputed

>**We will conclude this section with a brief exploration and demonstration of these routines.**

### Detecting null values
Pandas data structures have two useful methods for detecting null data: ``isnull()`` and ``notnull()``.
Either one will return a Boolean mask (i.e., a filter) over the data. For example:

In [13]:
data = pd.Series([1, np.nan, 'hello', None])

In [14]:
data.isnull()

0    False
1     True
2    False
3     True
dtype: bool

Boolean masks can be used directly as a ``Series`` or ``DataFrame`` index:

In [15]:
# select the non-null entries
data[data.notnull()]

0        1
2    hello
dtype: object

The ``isnull()`` and ``notnull()`` methods produce similar Boolean results for ``DataFrame``s.

### Dropping null values

In addition to the masking used before, there are the convenience methods, ``dropna()``
(which removes NA values) and ``fillna()`` (which fills in NA values). For a ``Series``,
the result is straightforward:

In [16]:
data.dropna()

0        1
2    hello
dtype: object

For a ``DataFrame``, there are more options.
Consider the following ``DataFrame``:

In [17]:
df = pd.DataFrame([[1,      np.nan, 2],
                   [2,      3,      5],
                   [np.nan, 4,      6]])
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

We cannot drop single values from a ``DataFrame``; we can only drop full rows or full columns.
Depending on the application, you might want one or the other, so ``dropna()`` gives a number of options for a ``DataFrame``.

**By default, ``dropna()`` will drop all rows in which *any* null value is present:**

In [18]:
# drop all rows that have a null values
df.dropna()

     0    1  2
1  2.0  3.0  5

Alternatively, you can drop NA values along a different axis; ``axis=1`` drops all columns containing a null value:

In [19]:
# drop all columns containing a null value
df.dropna(axis='columns')

   2
0  2
1  5
2  6

### How to avoid dropping 'good' data
We may want to avoid dropping some of the good data, along with the null values. 
You might rather be interested in dropping rows or columns with **all NA values**, or a **majority of NA values**.

This can be specified through the ``how`` or ``thresh`` parameters, which allow fine control of the number of nulls to allow through.

The default is ``how='any'``, such that any row or column (depending on the ``axis`` keyword) containing a null value will be dropped.

You can also specify **``how='all'``**, which **will only drop rows/columns that are *all* null values**:

In [20]:
# add and set third column to NaN
df[3] = np.nan
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [21]:
# drop only the columns where all values are NaN
df.dropna(axis='columns', how='all')

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

>For finer-grained control, the **``thresh``** parameter lets you specify a minimum number of non-null values for the row/column to be kept:

In [22]:
# drop only those rows having a minimum of 3 non-null values
df.dropna(axis='rows', thresh=3)

     0    1  2   3
1  2.0  3.0  5 NaN

Here the first and last row have been dropped, because they contain only two non-null values.

### Filling null values

Sometimes rather than dropping NA values, you'd rather replace them with a valid value.
This value might be a single number like zero, or it might be some sort of imputation or interpolation from the good values.
You could do this in-place **using the ``isnull()`` method as a mask**, but because this is such a common operation, Pandas provides the **``fillna()`` method**, which returns a copy of the array with the null values replaced.

>**Consider the following ``Series``:**

In [23]:
data = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))
data

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

We can fill NA entries with a single value, such as zero:

In [24]:
data.fillna(0)

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

We can specify a forward-fill to propagate the previous value forward:

In [25]:
# forward-fill
data.fillna(method='ffill')

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64

Or we can specify a back-fill to propagate the next values backward:

In [26]:
# back-fill
data.fillna(method='bfill')

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64

For ``DataFrame``s, the options are similar, but we can also specify an ``axis`` along which the fills take place:

In [27]:
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [28]:
# apply fflin on the rows
df.fillna(method='ffill', axis=1)

     0    1    2    3
0  1.0  1.0  2.0  2.0
1  2.0  3.0  5.0  5.0
2  NaN  4.0  6.0  6.0

>**Notice that if a previous value is not available during a forward fill, the NA value remains.**